

  {% if  news %}
 
 <div class="md:flex flex-row flex-wrap mt-2 justify-start mx-14">
    {% for a in news %}
    <div
      class="flex-item mr-2 mb-8 rounded-lg shadow-lg bg-white max-w-xs max-height:50px overflow-auto"
    >
      <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">
        <img class="rounded-t-lg" src="{{ a.urlToImage }}" alt="Image" />
      </a>
      <div class="p-6 border-2 border-b-blue-500 rounded-b-2xl">
        <h5 class="text-gray-900 text-xl font-medium mb-2">{{ a.title }}</h5>
        <p class="text-gray-700 text-base mb-4">
          {{ a.description|truncatewords:50 }}
        </p>

        <figcaption class="font-medium">
          <div class="text-sky-500 dark:text-sky-400 mb-2">
            Source {{ a.source.name }}
          </div>
          <div class="text-slate-700 dark:text-slate-500 mb-2">
            Published @ {{ a.publishedAt }}
          </div>
        </figcaption>
        <button
          type="button"
          class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md"
        >
          <a href="{{ a.url }}"> View </a>
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div  class="bg-red-400 justify-center text-center w-full p-6 text-lg" role="alert">
   No Results
  
  </div>

 {% endif %}