{% extends "main/base.html" %} {% block content %}
<div class="flex justify-center">
  <h4
    class="font-medium justify-center leading-tight text-2xl mt-0 mb-2 text-blue-600"
  >
    News Dzese
  </h4>
</div>
<div class="flex justify-center my-10">
  <div class="mb-3 xl:w-96">
    {% csrf_token %}
    <input
      type="search"
      class="form-control block w-full px-2 py-2 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-b-2 border-blue-600 border-l-0 border-t-0 border-r-0 rounded m-0 focus:text-gray-700"
      id="exampleSearch"
      hx-post="{% url 'search-news' %}" 
      name="searchq"
      hx-target="#articles"
      hx-swap="innerHTML"
      hx-select-oob="#articles"
      hx-trigger="keyup changed delay:100ms"
      placeholder="Search here e.g author name /Article"
    />
  </div>
</div>

<div class="flex" id="articles">

  {% include 'main/articles.html' %}

</div>

{% endblock content %}
